:root {
  --pink-colour: #ce4a7e;
  --black-colour: #1c1c1b;
  --white-colour: #ddd;
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
}

body {
  font-family: "lato", sans-serif;
  background-color: var(--black-colour);
  color: var(--white-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1c1c1b;
}

::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0.25);
  border-radius: 30px;
  height: 1px;
  width: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(221, 221, 221, 0.5);
}

::-webkit-scrollbar-corner {
  background: #1c1c1b;
}

.no-select {
  user-select: none;
}

.selected {
  color: var(--pink-colour);
}

.no-height {
  height: 0;
}

.no-width {
  width: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.wrap {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  margin-top: 50px;
}

.header ul {
  display: flex;
  justify-content: center;
}

.header ul li {
  margin: 0 35px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: color 0.2s;
  cursor: pointer;
}

.header ul li:hover {
  color: var(--pink-colour);
}

.home-page,
.mcast-page,
/* .projects-page, */
.cv-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .logo {
  width: 100px;
  height: auto;
}

.ben-logo {
  fill: var(--pink-colour);
} */

/*
  _    _                        _____                 
 | |  | |                      |  __ \                
 | |__| | ___  _ __ ___   ___  | |__) |_ _  __ _  ___ 
 |  __  |/ _ \| '_ ` _ \ / _ \ |  ___/ _` |/ _` |/ _ \
 | |  | | (_) | | | | | |  __/ | |  | (_| | (_| |  __/
 |_|  |_|\___/|_| |_| |_|\___| |_|   \__,_|\__, |\___|
                                            __/ |     
                                           |___/      
*/

.intro {
  margin-top: 70px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.intro h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}

.skills-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  margin-bottom: -30px;
  min-height: 500px;
}

.skills-title-div {
  width: 50%;
  display: flex;
  align-items: center;
}

.skills-title-div hr {
  flex-grow: 1;
  height: 0;
}

.skills-title {
  margin: 0 20px 0 30px;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: -5px;
}

.skills-columns-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.skills-column {
  font-size: 20px;
  font-weight: 300;
  min-width: 220px;
  margin: 0 30px;
  padding: 20px;
  border-radius: 30px;
  height: auto;
  transition: background-color 0.1s ease-out;
  /* transition-timing-function: ease-out; */
}

.skills-column:hover {
  background-color: rgba(221, 221, 221, 0.1);
}

.skills-column:hover .skills-list {
  line-height: 1.25;
  color: var(--white-colour);
}

.skills-column:hover .chevron-container {
  margin-top: 0;
  margin-bottom: 0;
}

.skills-column:hover .chevron {
  /* display: none; */
  height: 0;
  width: 0;
}

.skills-list {
  color: var(--black-colour);
  line-height: 0;
  transition: line-height 0.1s, color 0.1s;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 100;
}

.skills-column h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
}

.skills-column li {
  margin-top: 12px;
  text-align: center;
  transition: color 0.1s;
}

.skills-column li:hover {
  color: var(--pink-colour);
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-list li {
  margin: 0 6px;
  transition: transform 0.2s;
}

.icons-list li:hover {
  transform: scale(1.2);
}

.icons-svg-fill {
  fill: var(--pink-colour);
}

.icons-svg-black {
  fill: var(--black-colour);
}

.icons-svg-fill:hover,
.icon-android-studio:hover .cls-2,
.icon-android-studio:hover .cls-3,
.icon-android-studio:hover .cls-5 {
  fill: #fff;
}

/* .icon-android-studio:hover .cls-1 {
  fill: var(--pink-colour);
} */

.chevron-container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin 0.2s;
}

.chevron {
  height: 15px;
  width: 18px;
  clip-path: polygon(100% 50%, 100% 75%, 50% 100%, 0 75%, 0 50%, 50% 75%);
  margin-bottom: -8px;
  transition: height 0.1s, width 0.1s;
  transition-timing-function: ease-out;
}

.chevron-1 {
  animation: chevron-animation-1 1s infinite;
}

.chevron-2 {
  animation: chevron-animation-2 1s infinite;
}

.chevron-3 {
  animation: chevron-animation-3 1s infinite;
}

.bottom-design {
  justify-self: flex-end;
  margin-top: 50px;
  width: 100%;
  height: auto;
}

/*
  _____           _           _         _____                 
 |  __ \         (_)         | |       |  __ \                
 | |__) | __ ___  _  ___  ___| |_ ___  | |__) |_ _  __ _  ___ 
 |  ___/ '__/ _ \| |/ _ \/ __| __/ __| |  ___/ _` |/ _` |/ _ \
 | |   | | | (_) | |  __/ (__| |_\__ \ | |  | (_| | (_| |  __/
 |_|   |_|  \___/| |\___|\___|\__|___/ |_|   \__,_|\__, |\___|
                _/ |                                __/ |     
               |__/                                |___/      
*/

.projects-page h1 {
  margin-top: 70px;
  font-weight: 300;
}

.projects-grid {
  margin-top: 30px;
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.project {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-self: center;
  transition: background-color 0.2s;
  padding: 20px;
  border-radius: 15px;
}

.project:hover {
  background-color: rgba(221, 221, 221, 0.1);
}

.project-img {
  width: 100%;
  height: auto;
}

.project-title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 400;
  color: var(--white-colour);
  text-align: center;
  transition: color 0.2s;
}

.project-title:hover {
  color: var(--pink-colour);
}

.project-description {
  margin-bottom: 10px;
  line-height: 20px;
}

.project-description a {
  color: var(--pink-colour);
  transition: color 0.2s;
}

.project-description a:hover {
  color: #fff;
}

.project-links-list {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 18px;
}

.project-links-list li {
  margin: 4px 0;
}

.project-links-list a {
  border-bottom: 0px solid rgba(221, 221, 221, 0.1);
  color: var(--pink-colour);
  transition: color 0.2s, border 0.3s;
}

.project-links-list a:hover {
  color: var(--white-colour);
  border-bottom: 1px solid var(--white-colour);
}

.project-tech-list {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-family: "Ubuntu Mono", monospace;
  color: var(--black-colour);
  font-size: 14px;
}

.project-tech-list li {
  margin: 2.5px 2.5px;
  padding: 6px 12px;
  background-color: rgba(221, 221, 221, 1);
  border-radius: 50px;
  transition: color 0.2s;
}

.project-tech-list li:hover {
  color: var(--pink-colour);
}

/*
   _______      __  _____                 
  / ____\ \    / / |  __ \                
 | |     \ \  / /  | |__) |_ _  __ _  ___ 
 | |      \ \/ /   |  ___/ _` |/ _` |/ _ \
 | |____   \  /    | |  | (_| | (_| |  __/
  \_____|   \/     |_|   \__,_|\__, |\___|
                                __/ |     
                               |___/      
*/

.cv-contact-btns {
  display: flex;
}

.download-cv-div {
  margin: 70px 0 70px 0;
}

.download-cv,
.contact-me {
  margin: 0 15px;
  padding: 10px;
  border-radius: 20px;
  color: var(--white-colour);
  font-size: 20px;
  font-weight: 300;
  background-color: rgba(221, 221, 221, 0.1);
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  display: flex;
}

.download-cv-icon,
.contact-me-icon {
  fill: var(--white-colour);
  transition: fill 0.2s;
}

.download-cv ul,
.contact-me ul {
  display: flex;
  align-items: center;
}

.download-cv ul li,
.contact-me ul li {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-cv:hover,
.contact-me:hover {
  color: var(--pink-colour);
  background-color: rgba(221, 221, 221, 0.2);
}

.download-cv:hover .download-cv-icon,
.contact-me:hover .contact-me-icon {
  fill: var(--pink-colour);
}

.info-div {
  padding: 30px;
  border: 2px solid var(--white-colour);
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.2s;
}

.info-div:hover {
  background-color: rgba(221, 221, 221, 0.1);
}

.info-div h1 {
  font-size: 30px;
  font-weight: 300;
}

.contact-info {
  margin-top: 70px;
}

.contact-info a {
  color: var(--white-colour);
  border-bottom: 0px solid var(--black-colour);
  transition: color 0.2s, border 0.4s;
}

.contact-info a:hover {
  color: var(--pink-colour);
  border-bottom: 1px solid var(--pink-colour);
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-icon {
  fill: var(--pink-colour);
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-info {
  margin-top: 70px;
}

.social-info ul {
  display: flex;
}

.social-icon {
  fill: var(--white-colour);
  margin: 10px;
  transition: fill 0.2s;
}

.social-icon:hover {
  fill: var(--pink-colour);
}

#Bottom_Graphic_Group {
  transform: translate(-460px, -972.65px);
}

#Bottom_Graphic_Path_1 {
  fill: #983059;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_2 {
  fill: #782d4b;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_3 {
  fill: #6a213e;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_4 {
  fill: #4e1a2f;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_5 {
  fill: #411828;
  transform: translate(460px, 1026.49px);
}

.slide-in-right {
  animation: slide-in-right 0.5s;
  /* transform: translateX(0); */
}

.slide-out-right {
  animation: slide-out-right 0.5s;
  /* transform: translateX(100%); */
}

.slide-in-left {
  animation: slide-in-left 0.5s;
  /* transform: translateX(0); */
}

.slide-out-left {
  animation: slide-out-left 0.5s;
  /* transform: translateX(-100%); */
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
    visibility: hidden;
  }

  5% {
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 100%;
    visibility: visible;
  }

  95% {
    visibility: visible;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0%;
    visibility: hidden;
  }

  5% {
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 100%;
    visibility: visible;
  }

  95% {
    visibility: visible;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes chevron-animation-1 {
  0% {
    background-color: rgba(221, 221, 221, 0.8);
  }

  25% {
    background-color: rgba(221, 221, 221, 0.8);
  }

  100% {
    background-color: rgba(221, 221, 221, 0.4);
  }
}

@keyframes chevron-animation-2 {
  0% {
    background-color: rgba(221, 221, 221, 0.4);
  }

  75% {
    background-color: rgba(221, 221, 221, 0.8);
  }

  100% {
    background-color: rgba(221, 221, 221, 0.4);
  }
}

@keyframes chevron-animation-3 {
  0% {
    background-color: rgba(221, 221, 221, 0.4);
  }

  40% {
    background-color: rgba(221, 221, 221, 0.4);
  }

  75% {
    background-color: rgba(221, 221, 221, 0.8);
  }

  100% {
    background-color: rgba(221, 221, 221, 0.8);
  }
}

@media only screen and (max-width: 1672px) {
  .wrap {
    max-width: 85%;
  }
  /* .intro {
    max-width: 70%;
  } */
}

@media only screen and (max-width: 1430px) {
  .wrap {
    max-width: 85%;
  }

  /* .intro {
    max-width: 80%;
  } */
}

@media only screen and (max-width: 1000px) {
  .wrap {
    max-width: 90%;
  }

  .header ul li {
    margin: 0 20px;
  }

  .intro {
    max-width: 100%;
  }

  .skills-title-div {
    width: 100%;
  }

  .skills-columns-section {
    flex-direction: column;
  }

  .skills-column {
    margin-bottom: 50px;
  }

  .projects-grid {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 500px) {
  .header ul li {
    margin: 0 10px;
    font-size: 18px;
  }

  .intro {
    font-size: 20px;
  }

  .projects-grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .header ul li {
    margin: 0 10px;
    font-size: 16px;
  }

  .intro {
    font-size: 16px;
  }
}
