:root {
  --pink-colour: #ce4a7e;
  --black-colour: #1c1c1b;
  --white-colour: #ddd;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--black-colour);
  color: var(--white-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}

.wrap {
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 50px;
}

.header ul {
  display: flex;
  justify-content: center;
}

.header ul li {
  margin: 0 35px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

.header ul li:hover {
  color: var(--pink-colour);
}

.selected {
  color: var(--pink-colour);
}

.intro {
  margin-top: 70px;
  max-width: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.intro h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

.skills-section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.skills-title-div {
  width: 50%;
  display: flex;
  align-items: center;
}

.skills-title-div hr {
  flex-grow: 1;
  height: 0;
}

.skills-title {
  margin: 0 20px 0 30px;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: -5px;
}

.skills-columns-section {
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
}

.skills-column {
  font-size: 20px;
  font-weight: 300;
  min-width: 275px;
}

.skills-column h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
}

.skills-column li {
  margin-top: 12px;
  text-align: center;
  transition-duration: 0.1s;
}

.skills-column li:hover {
  color: var(--pink-colour);
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-list li {
  margin: 0 6px;
  transition-duration: 0.2s;
}

.icons-list li:hover {
  transform: scale(1.2);
}

.icons-svg-fill {
  fill: var(--pink-colour);
}

.icons-svg-black {
  fill: var(--black-colour);
}

.icons-svg-fill:hover {
  fill: #fff;
}

.bottom-design {
  justify-self: flex-end;
  margin-top: 50px;
  width: 100%;
  height: auto;
}

#Bottom_Graphic_Group {
  transform: translate(-460px, -972.65px);
}

#Bottom_Graphic_Path_1 {
  fill: #983059;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_2 {
  fill: #782d4b;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_3 {
  fill: #6a213e;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_4 {
  fill: #4e1a2f;
  transform: translate(460px, 999.234px);
}

#Bottom_Graphic_Path_5 {
  fill: #411828;
  transform: translate(460px, 1026.49px);
}

@media only screen and (max-width: 1672px) {
  .wrap {
    max-width: 85%;
  }
  /* .intro {
    max-width: 70%;
  } */
}

@media only screen and (max-width: 1430px) {
  .wrap {
    max-width: 85%;
  }

  /* .intro {
    max-width: 80%;
  } */
}

@media only screen and (max-width: 1000px) {
  .wrap {
    max-width: 90%;
  }

  .header ul li {
    margin: 0 20px;
  }

  .intro {
    max-width: 100%;
  }

  .skills-title-div {
    width: 100%;
  }

  .skills-columns-section {
    flex-direction: column;
  }

  .skills-column {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .header ul li {
    margin: 0 10px;
    font-size: 18px;
  }

  .intro {
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .header ul li {
    margin: 0 10px;
    font-size: 16px;
  }

  .intro {
    font-size: 16px;
  }
}
